.container {
    border-radius: 8px;
    padding: 32px;
    margin: 0 auto;
    background-color: #000000;
  }
  
  .subtitle {
    margin-bottom: 32px;
    text-align: center;
  }
  
  .worth {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(45deg, #ffdd8c, #ffe608);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #ffeb3b40;
  }
  
  .textHighlight {
    background: linear-gradient(45deg, #17d062, #08ff79);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #08ff8161;
  }
  
  .content {
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .column {
    flex: 1;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sectionTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #fff;
  }
  
  .list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
  }
  
  .listItem {
    text-align: left;
    margin-bottom: 12px;
    font-size: 16px;
    color: #ccc;
    position: relative;
    padding-left: 20px;
  }
  
  .listItem::before {
    content: '•';
    color: #ccc;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: -5px;
  }
  
  @media screen and (max-width: 768px) {
    .container {
      padding: 16px 0;
    }
  
    .subtitle {
      margin-bottom: 12px;
    }
  
    .content {
      grid-template-columns: 1fr;
      gap: 10px;
    }
  
    .column {
      padding: 0;
    }
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Creates a responsive grid */
    gap: 10px; /* Space between grid items */
    padding: 20px; /* Optional: Adds some padding around the grid */
  }
  
  .gridItem {
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* Removes border */
    padding: 20px; /* Padding inside the button, helps with making it square */
    font-size: 14px; /* Adjusts the font size */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%; /* Makes the button expand to fill its container */
    height: 80px; /* Fixed height, adjust as needed */
    
    border-radius: 5px; /* Optional: Rounds the corners of the button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
  }
  
  .gridItem:hover {
    background-color: #0056b3; /* Darker shade on hover */
  }
  .gridItem.selected {
    background-color: #e02aff !important; /* Example with !important */
    color: white;
  }